{% extends 'base.html' %}
{% block content %}

<div class="container my-4">
    <h2>Alta de socio</h2>

    <form method="post" class="mt-4">
        {% csrf_token %}

        <div class="mb-3">
            {{ form.numero_festero.label_tag }}
            {{ form.numero_festero }}
        </div>

        <div class="mb-3">
            {{ form.nombre.label_tag }}
            {{ form.nombre }}
        </div>

        <div class="mb-3">
            {{ form.apellidos.label_tag }}
            {{ form.apellidos }}
        </div>

        <div class="mb-3">
            {{ form.dni.label_tag }}
            {{ form.dni }}
        </div>

        <div class="mb-3">
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>

        <div class="mb-3">
            {{ form.telefono.label_tag }}
            {{ form.telefono }}
        </div>
        
        <div class="mb-3">
        {{ form.tipo.label_tag }}
        {{ form.tipo }}
        </div>

        <div class="mb-3">
            {{ form.condicion.label_tag }}
            {{ form.condicion }}
        </div>

        <div class="form-check mb-3">
            {{ form.estado }}
            {{ form.estado.label_tag }}
        </div>

        <button type="submit" class="btn btn-primary">
            Guardar socio
        </button>
    </form>
</div>

{% endblock %}
{% block scripts %}
<script>
document.addEventListener("DOMContentLoaded", function() {

    const tipoSelect = document.getElementById("id_tipo");
    const condicionSelect = document.getElementById("id_condicion");

    function cargarCondiciones(tipoId) {
        if (!tipoId) {
            condicionSelect.innerHTML = '<option value="">---------</option>';
            return;
        }

        fetch(`/ajax/cargar-condiciones/?tipo_id=${tipoId}`)
            .then(response => response.json())
            .then(data => {
                condicionSelect.innerHTML = '<option value="">---------</option>';

                data.forEach(condicion => {
                    const option = document.createElement("option");
                    option.value = condicion.id;
                    option.text = condicion.nombre;
                    condicionSelect.appendChild(option);
                });
            });
    }

    // Cuando cambia el tipo
    tipoSelect.addEventListener("change", function() {
        cargarCondiciones(this.value);
    });

    // Cargar si ya hay tipo seleccionado al abrir
    if (tipoSelect.value) {
        cargarCondiciones(tipoSelect.value);
    }

});
</script>
{% endblock %}